---
import { Image } from "astro:assets";

interface Props {
  title?: string;
  subTitle: string;
  content: string;
  image: ImageMetadata;
}

const { content, title, subTitle, image } = Astro.props;
---

<div class="card | relative">
  <div class="card__transparent | rounded-md absolute"></div>
  <div class="card__border | absolute">
    <div class="card__gradient | gradient absolute"></div>
  </div>
  <div class="card__box | rounded-md p-space-l d-flex">
    <div class="card__img | rounded overflow-h">
      <Image src={image} alt="Future" width={image.width} />
    </div>
    <div class="flow">
     {title ? <p class="size-4 gradient-text"><strong>{title}</strong></p> : ''} 
      <h3 class="fw-500">{subTitle}</h3>
      <p>{content}</p>
    </div>
  </div>
</div>
